{{!-- <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured= true}}
    {{/if}}
    {{/each}}
</ul> --}}

<div class="row justify-content-center">

    <div class="col-4">
        <table class="table-bordered table-striped">
            {{#each burgers}}
            {{#unless devoured}}
            <tr>
                <td>
                    {{id}}. {{burger_name}}
                    <button class="change-devour" data-id="{{id}}">
                        Devour it!
                    </button>
                </td>
            </tr>
            {{/unless}}
            {{/each}}
        </table>
    </div>

    <div class="col-4">
        <table class="table-bordered table-striped">
            {{#each burgers}}
            {{#if devoured}}
            <tr>
                <td>
                    {{id}}. {{burger_name}}
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>

</div>

<br>
<div class="row justify-content-center">
    <form class="create-form">

        <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="name">
        </div>
        <div class="text-center">
            <button type="submit">Add Burger</button>
        </div>
    </form>
</div>
<p class="text-center">Enter a burger you want to eat. Click the 'Add Burger' button.</p>